<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p>Images</p>
      <% for(var i = 0; i < data.length; i++) {%>
      <img src=<%=data[i]%>>
      <a href=/update/<%=data[i].substring(37)%>> Update</a>
      <br>
      <% } %>
  </body>
</html>