<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p>Welcome User: <%=user%></p>
      <form method="post" action="/logout">
        <input style="float:right" type="submit" value="Log Out">
      </form>
      <a href="/showcreate">Create</a>
      <br>
      <a href="/showdelete">Delete</a>
      <br>
      <a href="/chooseupdate">Update</a>
      <br>
      <% for(var i = 0; i < data.length; i++) {%>
      <span style="background-color:yellow"><%=key[i]%></span>
      <img src=<%=data[i]%>>
      <a href=<%=data[i]%> download> Download</a>
      <hr>
      <% } %>
  </body>
</html>
