<!DOCTYPE html>
<html>
  <head>
    <title>Delete Image</title>
  </head>
  <body>
    <form method="post" action="/login">
      <label>Email:<input type="text" name="email"></label>
      <label>Password:<input type="text" name="password"></label>
      <input type="submit">
    </form>
  </body>
</html>