<!DOCTYPE html>
<html>
  <head>
    <title>Not Logged In</title>
  </head>
  <body>
    <h1>NOT LOGGED IN</h1>
    <a href='/showlogin'>Log In Here!</a>
    <br>
    <br>
    <a href='/showregister'>Register Here!</a>
  </body>
</html>