<!DOCTYPE html>
<html>
  <head>
    <title>Update Image</title>
  </head>
  <body>
    <form method="post" action="/update/<%=updateid%>"  enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit">
    </form>
  </body>
</html>